
#toptitle {
    display: flex;
    align-items: left;
    justify-content: left;
    color:red;
    
    position: absolute;
    top: 5%;
    left: 30%;
    transform: translateX(-50%) translateY(-50%);
}  

#chart {
    display: flex;
    align-items: center;
    justify-content: center;
}  

.node circle {
  fill: #fff; 
  stroke: steelblue;
  stroke-width: 1.8px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}


   